@import "./rubikFont.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
.header > * {
  font-family: "Rubik", sans-serif;
  line-height: 1.25rem;
  font-size: 14px;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #263c97;
}

.navheader {
  height: 5vh;
  margin-bottom: 1vh;
  border-bottom: 0.01rem solid #263c97;
  margin-bottom: 2px;
}

.mainnav {
  width: 100vw;
  height: 18vh;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.navmainnav {
  width: 98vw;
  height: 100%;
  margin: 1rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navfoot {
  height: 8vh;
  margin: 1rem 2rem 0 -0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navshop {
  width: 35vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.searchInput {
  width: 40vw;
  height: 5rem;
  padding: 1.2rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}
::placeholder {
  color: #212529;
}

.searchButton {
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #0dcaf0;
}
.searchButton:hover {
  cursor: pointer;
}
.searchButton > img {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 auto;
}

.ekommerce {
  color: white;
  font-size: 4.2rem;
  font-weight: 300;
  letter-spacing: 0rem;
}
.ekommerce:visited {
  color: white;
}

.buttonsNavShop {
  padding: 0.6rem;
  position: relative;
  overflow: hidden;
  border: none;
  color: white;
  background-color: transparent;
  text-align: center;
  font-weight: 500;
}
.buttonsNavShop:hover {
  cursor: pointer;
  color: #0dcaf0;
}
.buttonsNavShop::after {
  width: 0;
  height: 0.2rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: width 0.35s ease, left 0.35s ease, background-color 0.35s ease;
}
.buttonsNavShop:hover::after {
  width: 80%;
  left: 10%;
  background-color: #0dcaf0;
}

.burgermenu {
  margin-top: 0.1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: 500;
}
.burgermenu span {
  padding-bottom: 0.2rem;
}
.buttonBurger {
  background-color: transparent;
  border: none;
}
.buttonBurger img {
  width: 4.2rem;
  height: 4.4rem;
}
.burgermenu:hover,
.burgermenu button:hover {
  cursor: pointer;
  color: #0dcaf0;
}

.loginandcart {
  width: 25vw;
  display: flex;
  justify-content: space-around;
}
.logginButton,
.cartButton {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border: none;
  background-color: transparent;
}
.logginCartBox {
  display: flex;
  color: white;
  font-weight: 400;
  letter-spacing: 0rem;
}
.logginCartBox:hover {
  cursor: pointer;
}
.cartBox button:hover {
  cursor: pointer;
}
.logginCartText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.logginCartText p:first-child {
  color: rgba(232, 243, 243, 0.582);
}

/* Colores que venian con el template de la pagina */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --nsfs: rgba(255, 255, 255, 0.15);
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
